<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bike Console</title>
        <script type="text/javascript">
      
        </script>
        <script src="{{ url_for('static',filename='bikePanel.js') }}"> </script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bikePanel.css') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/bike.png') }}">
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    </head>
    <body>
        <div class="tile wide prompt" id="prompt"></div>
        <div class="tile questiontile wide" id="getNameTile">
            <h4>Name</h4>
            <span id="namerequest">Please provide:<input type="text" name="name" id="name" /><button onclick="saveName()">Save</button></span>
        </div>
        <div class="tile wide timetile">
            <h4>Time</h4>
            <span class="value" id="time" onclick="toggleTimeButtons()">00:00:00</span>
            <span class="buttons" id="timeButtons">
                <button id="reset" class="hiddenButton">Pause</button>
                <button id="stop" class="hiddenButton">End</button>
            </span>
        </div>
        <div class="tile wide timetile">
            <h4>Distance</h4>
            <span class="value" id="miles">...</span>mi
        </div>
        <div class="tile">
            <h4>RPM</h4>
            <span class="value" id="rpms">...</span>
        </div>
        <div class="tile">
            <h4>MPH</h4>
            <span class="value" id="mph">...</span>
        </div>
        <div class="tile">
            <h4>Avg RPM</h4>
            <span class="value" id="arpm">...</span>
        </div>
        <div class="tile">
            <h4>Avg MPH</h4>
            <span class="value" id="amph">...</span>
        </div>
        <div class="tile">
            <h4>Max RPM</h4>
            <span class="value" id="arpm">...</span>
        </div>
        <div class="tile">
            <h4>Max MPH</h4>
            <span class="value" id="amph">...</span>
        </div>
        <div class="tile wide statstile">
            <h4>Stats</h4>
            <h5>Last Session</h5>
            Distance:<span class="smallvalue" id="lastdistance">...mi</span><br />
            Avg RPM:<span class="smallvalue" id="lastrpm">...</span><br />
            Avg MPH:<span class="smallvalue" id="lastmph">...</span><br />
            Max RPM:<span class="smallvalue" id="lastpeakrpm">...</span><br />
            <h5>All time</h5>
            Distance:<span class="smallvalue" id="alldistance">...mi</span><br />
        </div>
    </body>
</html>