@font-face {
    font-family: digitalism;
    src: url('digitalism.woff');
}

html {
    background-color:#aec8a8;
    color:#272a2d;
    font-family: digitalism 
}

.tile {
    float: left;
    width: 151px;
    height: auto;
    font-size: 4em;
    color: #aec8a8;
    border-radius: 19px;
    border-color: rgb(30, 36, 35);
    border-width: 0px;
    border-style: solid;
    padding: 20px 16px 0px 16px;
    margin: 16px 8px 0px 8px;
    text-align: right;
    background-color: rgb(24, 31, 28);
}

.tile h4 {
    position: absolute;
    font-size: 12pt;
    margin: -10px 0 0 0 ;
}
.tile.wide {
    width: 350px;
}

.tile.timetile {
    text-align: center;
    font-size: 1em;
}

.tile span {

}

.tile.timetile span {
    font-size: 6em
}

#time {
    font-family: digitalism;
}