@font-face {
    font-family: 'LCD Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Normal'), url('LCD-N___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Ultra'), url('LCD-U___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD Light';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Light'), url('LCD-L___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Bold'), url('LCD-BOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD2 Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCD2 Normal'), url('LCD2N___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono2 Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono2 Normal'), url('LCDM2N__.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono Normal'), url('LCDMN___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Digitalism Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digitalism Regular'), url('digitalism.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD2 Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('LCD2 Ultra'), url('LCD2U___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono2 Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono2 Ultra'), url('LCDM2U__.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono Ultra'), url('LCDMU___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD2 Light';
    font-style: normal;
    font-weight: normal;
    src: local('LCD2 Light'), url('LCD2L___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono2 Light';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono2 Light'), url('LCDM2L__.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono Light';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono Light'), url('LCDML___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCD2 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LCD2 Bold'), url('LCD2B___.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono2 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono2 Bold'), url('LCDM2B__.woff') format('woff');
    }
    

    @font-face {
    font-family: 'LCDMono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LCDMono Bold'), url('LCDMB___.woff') format('woff');
    }

html {
    background-color:#1a2917;
    color:#272d2c;
    font-family: 'LCDMono Ultra' 
}

.tile {
    float: left;
    width: 151px;
    height: auto;
    font-size: 4em;
    color: #aec8a8;
    border-radius: 19px;
    border-color: rgb(30, 36, 35);
    border-width: 0px;
    border-style: solid;
    padding: 20px 16px 0px 16px;
    margin: 16px 8px 0px 8px;
    text-align: right;
    background-color: rgb(24, 31, 28);
}

.tile h4 {
    position: absolute;
    font-size: 12pt;
    margin: -10px 0 0 0 ;
    font-family: 'LCDMono Light';
}
.tile.wide {
    width: 350px;
}

.tile.timetile {
    text-align: center;
    font-size: 1em;
}

.tile span {
    padding-top: 5px;
    display: inline-block;
}

.tile.timetile span {
    font-size: 5em
}

.tile span#namerequest {
    font-size: 16pt;
}

.questiontile {
    display:none;
    float:none;
}

.tile.prompt {
    display:none;
    float:none;
    background-color: transparent;
    font-size: 2em;
    padding:0;
    margin:0;
    height:34px;
}

@keyframes openFromTop {
    0%      {height:0;opacity: 0;animation-timing-function: ease-in;}
    50%     {height:17px;opacity: 0;animation-timing-function: linear;}
    100%    {height:34px;opacity: 100; animation-timing-function: ease-out;}
}

.openAnimation {
    animation-name: openFromTop;
    animation-duration: 1s;
}

@keyframes closeFromTop {
    0%      {height:34px;opacity: 100;animation-timing-function: ease-in;}
    50%     {height:17px;opacity: 0;animation-timing-function: linear;}
    100%     {height:0px;opacity: 0;animation-timing-function: ease-out;}
}

.closeAnimation {
    animation-name: closeFromTop;
    animation-duration: 1s;
}